<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>KANBAN</title>
</head>
<body>
    <!--Nav Bar-->
    <div class="container-fluid" id="app" >
      <div class="container-nav" v-if="halaman == 'login' || halaman == 'register'|| halaman == 'isi'||halaman == 'add'||halaman == 'edit'">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">KANBAN</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  
                  <a class="nav-link" href="#" v-if="halaman == 'login'" v-on:click="gantiHalaman('register')">Register</a>
                  <a class="nav-link" href="#" v-else-if="halaman == 'register'" v-on:click="gantiHalaman('login')">Login</a>
                  <a class="nav-link" href="#" v-else-if="halaman == 'isi'" v-on:click="logout()">Logout</a>
                  <a class="nav-link" href="#" v-if="halaman == 'isi'" v-on:click="gantiHalaman('add')">Add</a>
                  <a class="nav-link" href="#" v-else-if="halaman == 'add'||halaman == 'edit'" v-on:click="gantiHalaman('isi')">List</a>
                  
                </div>
              </div>
            </div>
          </nav>
    </div>

    <!--Form Register-->
    <div class="container-form-register" v-if="halaman == 'register'">
        <form class="form-regist">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email-regis" v-model="regist.email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" v-model="regist.password" id="password-regis">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Full Name</label>
                <input type="text" class="form-control" v-model="regist.fullname" id="fullname-regis">
            </div>
            <button type="submit" class="btn btn-primary" @click=" register()">Submit</button>
          </form>
    </div>

    <!--Form Login-->
    <div class="container-form-login" v-if="halaman == 'login'">
        <form class="form-login" >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" v-model="user.email" id="email-login" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" v-model="user.password" id="password-login">
            </div>
            <button type="submit" class="btn btn-primary" @click=" login()">Submit</button>
          </form>
    </div>

    <!--Content-->
    <div class="containter-content" v-if="halaman == 'isi'">
        <div class="row content">
            <!--backlog-->
            <div class="col-sm-3 Backlog">
              <div class="card bg-info mb-3 ">
                <div class="card-body ">
                  <h5 class="card-title">Backlog</h5>
                  <div class="card kanban-todo" style="width: 100%; ">
                    <div class="card-body bg-light mb-3" v-for="(item, id) in backlog" :key="id">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <button type="button" class="btn btn-outline-success btn-sm" @click="patch(item.id, 'done')"><</button>
                      <button type="button" class="btn btn-outline-info btn-sm" @click="getEdit(item.id)">Edit</button>
                      <button type="button" class="btn btn-outline-info btn-sm" @click="destroy(item.id)">Delete</button>
                      <button type="button" class="btn btn-outline-warning btn-sm" @click="patch(item.id, 'todo')">></button>
                    </div>
                  </div><br>
                </div>
              </div>
            </div>
            <!--Todo-->
            <div class="col-sm-3 todo">
              <div class="card bg-warning mb-3 ">
                <div class="card-body kanban-doing">
                  <h5 class="card-title">ToDo</h5>
                  <div class="card kanban-todo" style="width: 100%;">
                    <div class="card-body bg-light mb-3" v-for="(item, id) in todo" :key="id">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <button type="button" class="btn btn-outline-info btn-sm" @click="patch(item.id, 'backlog')"><</button>
                      <button type="button" class="btn btn-outline-warning btn-sm" @click="getEdit(item.id)">Edit</button>
                      <button type="button" class="btn btn-outline-warning btn-sm" @click="destroy(item.id)">Delete</button>
                      <button type="button" class="btn btn-outline-danger btn-sm" @click="patch(item.id, 'doing')">></button>
                    </div>
                  </div><br>
                </div>
              </div>
            </div>
            <!--doing-->
            <div class="col-sm-3 doing">
                <div class="card bg-danger mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Doing</h5>
                    <div class="card kanban-todo" style="width: 100%;">
                      <div class="card-body bg-light mb-3" v-for="(item, id) in doing" :key="id">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <button type="button" class="btn btn-outline-warning btn-sm" @click="patch(item.id, 'todo')"><</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" @click="getEdit(item.id)">Edit</button>
                        <button type="button" class="btn btn-outline-danger btn-sm" @click="destroy(item.id)">Delete</button>
                        <button type="button" class="btn btn-outline-success btn-sm" @click="patch(item.id, 'done')">></button>
                      </div>
                    </div><br>
                  </div>
                </div>
            </div>
            <!--Done-->
            <div class="col-sm-3 done">
                <div class="card bg-success mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Done</h5>
                    <div class="card kanban-todo" style="width: 100%;">
                      <div class="card-body bg-light mb-3" v-for="(item, id) in done" :key="id">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <button type="button" class="btn btn-outline-danger btn-sm" @click="patch(item.id, 'doing')"><</button>
                        <button type="button" class="btn btn-outline-success btn-sm" @click="getEdit(item.id)">Edit</button>
                        <button type="button" class="btn btn-outline-success btn-sm" @click="destroy(item.id)">Delete</button>
                        <button type="button" class="btn btn-outline-info btn-sm" @click="patch(item.id, 'backlog')">></button>
                      </div>
                    </div><br>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!--Form Add-->
    <div class="container-form-add" v-if="halaman == 'add'">
        <form class="form-add">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" class="form-control" v-model="inputTodo.title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Description</label>
              <input type="text" class="form-control" v-model="inputTodo.description" id="description">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Category</label>
                <select class="form-select" aria-label="Default select example" v-model="inputTodo.category" id="category">
                    <option selected>Open this select menu</option>
                    <option value="backlog">backlog</option>
                    <option value="todo">todo</option>
                    <option value="doing">doing</option>
                    <option value="done">done</option>
                  </select>
            </div>
            <button type="submit" class="btn btn-primary" @click=" addTodo()">Submit</button>
        </form>
    </div>

    <!--Form Edit-->
    <div class="container-form-add" v-if="halaman == 'edit'" >
      <form class="form-add" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control"  id="title-edit" v-model="edit.title" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input type="text" class="form-control" v-model="edit.description" id="description-edit">
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Category</label>
              <select class="form-select" aria-label="Default select example" v-model="edit.category" id="category-edit">
                  <option selected>Open this select menu</option>
                  <option value="backlog">backlog</option>
                  <option value="todo">todo</option>
                  <option value="doing">doing</option>
                  <option value="done">done</option>
                </select>
          </div>
          <button type="submit" class="btn btn-primary" @click="update(edit.id)" >Edit</button>
      </form>
    </div>
  </div>

    <!--script-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>
</html>

